{% extends 'accounts/base.html' %} {% block body %} {% include 'accounts/Status.html'%}
<br>
<div class='row'>
    <div class="col-md-5">
        <h5 class="text-center text-white"> CUSTOMERS: </h5>
        <hr>
        <div class="card card-body">
            <!-- <a class="btn btn-primary btn-sm btn-block text-center" href="#"> Create Customer</a> -->
            <table class="table table-sm">
                <tr>
                    <th>Customer</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
                {% for c in customer %}
                <tr>
                    <td>{{c}}</td>
                    <td>{{c.phone}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'customer' c.id %}">View</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <h5 class="text-center text-white"> LAST 5 ORDERS </h5>
        <hr>
        <div class="card card-body">
           <!-- <a class="btn btn-sm btn-danger"  data-toggle="modal" data-target="#myModal-{{o.id}}">Delete</a> -->
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>

                </tr>
                {% for o in order_display %}
                <tr>
                    <td>{{o.product}}</td>
                    <td>{{o.cr_date}}</td>
                    <td>{{o.status}}</td>
                    <td> <a class="btn btn-sm btn-info" href="{% url 'update_order' o.id  %}">Update</a></td>
                    
                    <!-- *********************************************************************************************** -->
                     <!-- The Modal -->
                     <div class="modal" id="myModal-{{o.id}}">
                        <div class="modal-dialog">
                             <div class="modal-content">
                     <!-- Modal Header -->
                         <div class="modal-header">
                             <h4 class="modal-title"> Are you sure you want to delete "{{o.product}}"?</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                         </div>
        
                      <!-- Modal body
                         <div class="modal-body">
                              Modal body..
                         </div> -->
        
                      <!-- Modal footer -->
                     <div class="modal-footer">
                          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                          <form action = "{% url 'delete_order' o.id %}" method="POST">
                          {% csrf_token %}
                         <input class="btn btn-md btn-danger" type="submit" name=" Confirm" value="Delete"> 
                          </form>
                     </div>
                           </div>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock%}