{% extends 'accounts/base.html' %}

{% load static %}
{% block body %}
<br>
<!-- <h5> Are you sure you want to delete "{{item}}"? </h5> -->

<form action = "{% url 'delete_order' item.id %}" method="POST">
{% csrf_token %}
<!-- <a class="btn btn-md btn-info" href="{% url 'home' %}" > Cancel </a>

<input class="btn btn-md btn-danger" type="submit" name=" Confirm" value="Delete"> -->

<div class="container">
  <h2> Are you sure you want to delete "{{item}}"?</h2>
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Delete
  </button>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          Modal body..
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>


</form>

<from>
{% endblock %}