{% extends 'accounts/base.html' %} {% load static %} {% block body %}
<br>

<br>
<div class="container">
    <p>Customer Name :- {{order.customer.name}}</p><hr>
    <p>Product Name  :- {{order.product.name}}</p><hr>
    <p>Order Date :-    {{order.cr_date}}</p><hr>
    <p>Price :-    {{order.product.price}}</p><hr>
    <p>Category :-    {{order.product.Category}}</p><hr>
    <p>Description :-    {{order.product.description}}</p><hr>

<form action="" method="POST">
    {% csrf_token %}
    {% for f in form %}
    {{f.label_tag}}
    <br>
        {{f}}
        <br>
        <hr>
    {% endfor %}
    <input class="btn btn-md btn-info " type="submit" name="Submit">
</form>
</div>
{% endblock %}